<!-- prettier-ignore -->
{% regroup pizzas by get_pizza_type_display as pizzas_list %} 
{% regroup other_dishes by dish_type as dish_list %}

<ul class="list-group">
  <h4>Pizzas</h4>
  {% for type, pizzas in pizzas_list %}
  <li class="list-group-item">
    <h5>{{ type }}</h5>
    <ul class="list-group">
      {% for pizza in pizzas %}
      <button
        type="button"
        class="list-group-item list-group-item-action pizza"
        data-id="{{pizza.id}}"
      >
        {{ pizza.name }}
      </button>
      {% endfor %}
    </ul>
  </li>
  {% endfor %}
  <h4>Subs</h4>
  <li class="list-group-item">
    {% for sub in subs %}
    <ul class="list-group">
      <button
        type="button"
        class="list-group-item list-group-item-action sub"
        data-id="{{sub.id}}"
      >
        {{ sub.name }}
      </button>
    </ul>
    {% endfor %}
  </li>

  <h4>Other Dishes</h4>
  {% for type, dishes in dish_list %}
  <li class="list-group-item">
    <h5>{{ type }}</h5>
    <ul class="list-group">
      {% for dish in dishes %}
      <button
        type="button"
        class="list-group-item list-group-item-action dish"
        data-id="{{dish.id}}"
      >
        {{ dish.name }}
      </button>
      {% endfor %}
    </ul>
  </li>
  {% endfor %}
</ul>
